model_config_list: {
  

  config: {
    name: 'hairColorModel'
    base_path: '/models/hairColorModel'
    model_platform:'tensorflow'
  },
  
  config: {
    name: 'ageSexGlassesModel'
    base_path: '/models/ageSexGlassesModel'
    model_platform:'tensorflow'
    model_version_policy: {all{}}
  },

  config: {
    name: 'beardModel'
    base_path: '/models/beardModel'
    model_platform:'tensorflow'
  }

  config: {
    name: 'maskModel'
    base_path: '/models/maskModel'
    model_platform:'tensorflow'
    model_version_policy: {specific{
 versions : 3
     }
     }
  }

  config: {
    name: 'beardMaskModel'
    base_path: '/models/beardMaskModel'
    model_platform:'tensorflow'
  }

  config: {
    name: 'pose_estimation_model'
    base_path: '/models/pose_estimation_model'
    model_platform:'tensorflow'
  }

  config: {
    name: 'faceRecognitionModel'
    base_path: '/models/faceRecognitionModel'
    model_platform:'tensorflow'
    model_version_policy: {specific{
 versions : 3
     }
     }
  }

  config: {
    name: 'person_reidentification'
    base_path: '/models/person_reidentification'
    model_platform:'tensorflow'
    model_version_policy: {specific{
 versions : 1
     }
     }
  }



}
